<!-- Button trigger modal -->
<div style="width:1295px;" align="center">
    <button type="button" class="btn btn-primary pull-right" 
    data-toggle="modal" data-target="#exampleModal"
    (click)="addClick()"
    data-backdrop="static" data-keyboard="false"
    >
    Add Meal
    </button>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="closeClick()" >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-add-change-m [m]="m" *ngIf="ActivateAddChangeMComp">
    
              </app-add-change-m>
            </div>
          
        </div>
        </div>
      </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>MealID</th>
                <th>Meal Type</th>
                <th>Meal Restaurant</th>
                <th>Meal Creation Date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of MealList">
                <td>{{dataItem.MealID}}</td>
                <td>{{dataItem.MealTYPE}}</td>
                <td>{{dataItem.Restaurant}}</td>
                <td>{{dataItem.MealCreationDate}}</td>
                <td>
                                    
                    <button type="button" class = "btn btn-light mr-1"
                    (click)="deleteClick(dataItem)">
                            Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
